.about {
  margin-bottom: em(60px);

  &__link {
    color: $persian-red;
  }
  
  &__copy {
    margin-bottom: em(15px);

    @include mq(sm) {
      &--left {
        padding: 0;
      }

      &--right {
        padding: 0;
      }
    }
    
    @include mq(md) {
      &--left {
        padding: 0 em(10px) 0 0;
      }
  
      &--right {
        padding: 0 0 0 em(10px);
      }
    }
  }
}