.footer {
  padding-bottom: em(10px);
  font-size: em(12px);

  &__copyright {
    @include mq(sm) {
      text-align: center;
    }

    @include mq(md) {
      text-align: left;
    }
  }

  &__social-links {
    @include mq(sm) {
      text-align: center;
    }

    @include mq(md) {
      text-align: right;
    }

    &-item {
      display: inline-block;
      a:hover {
        color: $persian-red;
        transition: 0.5s all ease;        
      }
    }
  }

  .flex-container{
    display: flex;
    width: 100%;
    justify-content: space-between;

    ul {
      justify-content: flex-end;
    }
  }
}