.nav {
  height: 100%;
  display: flex;
  align-items: center;

  &__list-item {
    font-weight: $font-weight--light;
    font-size: rem(25px);
    padding-left: em(10px, 36px);
    padding-right: em(10px, 36px);
    text-transform: uppercase;

    &:last-child {
      padding-right: 0;
    }

    a {
      &:hover {
        color: $persian-red;
        transition: 0.5s all ease;
      }
    }

      
    @include mq(sm) {
      font-size: rem(20px);
    }

    @include mq(md) {
      font-size: rem(25px);
    }
  }

  @include mq(sm) {
    justify-content: center;
  }

  @include mq(md) {
    justify-content: flex-end;
  }
}