// colors
$persian-red: #cc2929;
$mine-shaft: #2e2e2e;
$concrete: #f3f3f3;
$alto: #d6d5d5;
$silver-chalice: #a2a2a2;
$tonys-pink: #e69b9b;

// Fonts
$font-family: 'Montserrat', sans-serif;

$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--black: 900;

// Text
$base__font-size: 16px;
$base__line: 24px;

// Breakpoints
$bp-sm: 1;
$bp-md: 768;
$bp-lg: 1200;

// Grid Config
$grid__cols: 12;

