* {
  box-sizing: border-box;
}

body {
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family;
  background-color: $concrete;
  color: $mine-shaft;
}

h1, h2, h3 {
  font-weight: $font-weight--black;
  letter-spacing: 0.025em;
  text-align: left;
  text-transform: uppercase;
  
  @include mq(sm) {
    text-align: center;
  }
  @include mq(md) {
    text-align: left;
  }
}

h1 {
  font-size: rem(39.063px);
  
  @include mq(sm) {
    font-size: rem(36px);
  }

  @include mq(md) {
    font-size: rem(39.063px);
  }
}

h2 {
  font-size: rem(25px);
  line-height: 1.25;
  margin-bottom: em(10px, 25px);
  
}

h3 {
  font-size: rem(20px);
  line-height: 1.25;
  margin-bottom: em(10px, 20px);
}

p {
  font-size: rem(16px);
}

a {
  text-decoration: none;
  color: $mine-shaft;
}

.heading--light {
  font-weight: $font-weight--light;
  letter-spacing: -0.01em;
  margin-right: 0.025em;
  color: lighten($mine-shaft, 5%);
}