/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** base ***/
html {
  font-size: 1rem;

}
body {
  line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	color: #777;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*** general ***/
.about,
.skills,
.projects,
.contact {
	/*border-bottom: 2px solid rgba(218, 216, 218, 0.3);*/
	padding: 1em 2em;
	border-radius: 5px;
}
.container {
	margin-top: 44px;
	max-width: 90%;
	margin-left: auto;
	margin-right: 30%;
}
.skills,
.contact {
	background: #D9DDD7;
}

/***main header***/
nav {
	color: white;
}
.main-header {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #C1CBBA;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*padding: 0 1em;*/
	z-index: 100;
	/*visibility: hidden;*/
}
ul {
	width: 100%
}
img {
	height: 25%;
}
.main-header a {
	padding: 1em 8em;
}
.main-header li {
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	text-align: center;
}
/*** sticky header ***/
.sticky-header {
	background: #C3C1C3;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
}
.sticky-header a {
	padding: .25em .75em;
	display: inline-block;
}
.sticky-header h4 {
	margin: 0;
}

/*** typography ***/
h1,
h2,
h3,
h4 {
  margin-bottom: .5rem;
}
p {
  margin-bottom: 1rem;
  font-size: 1rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
.section-heading {
	color: #666;
}

/*** links ***/
a {
  text-decoration: none;
  color: white;
	display: block;
}

/*** form ***/

#form-name,
#form-email {
	width: 45%;
}
input[type="text"] {
	margin-bottom: 1em;
	height: 2.5em;
}
input[type="text"],
textarea {
	outline: none;
	padding: .5em;
	border: 1px solid #DAD8DA;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font: inherit;
}
#form-name {
	margin-right: 10%;
}
#form-subject,
#form-text-area {
	width: 100%;
}
textarea {
	height: 10em;
}
