/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/** clearfix **/

.cf:before,
.cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}

/*** base ***/

html {
  font-size: 1rem;

}
body {
  line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	color: #777;
	background: #fff;
}

/*** general ***/

.about,
.skills,
.contact {
	padding: 1em;
	border-radius: 5px;
}
.container {
	margin: 4rem auto 4rem;
	max-width: 95%;
}
.skills,
.contact {
	background: #D9DDD7;
}

/*** Main Header***/

header {
	color: white;
	width: 25%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	background: #C1CBBA;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 100;
	visibility: hidden;
}
header img {
	border-radius: 50%;
	margin-top: 30%;
	margin-bottom: 15%;
	max-width: 55%;
}
header h4 {
	margin-bottom: 2rem;
}
nav {
	width: 100%;
}
.nav-items {
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	text-align: center;
}
.main-nav li:last-child {
	border: none;
}
footer {
	margin-top: auto;
	color: white;
}
.social {
	display: flex;
	justify-content: center;
	margin-top: auto;
}
.social li {
	border-bottom: none;
}
.selected {
	background: white;
}
.selected a {
	color: #666;
}
h2 span {
	position: absolute;
	top: -50px;
}

/*** Main Footer ***/

.main-footer {
	background: #C3C1C3;
	padding: 0 .75em;
}
.main-footer .social {
	justify-content: flex-start;
}
.main-footer li:nth-of-type(1) {
	margin-right: auto;
}

/*** Sticky Header ***/

.sticky-header {
	background: #C3C1C3;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 2.5rem;
	display: flex;
	justify-content: space-between;
}
.sticky-header h4 {
	margin: 0;
	display: inline-block;
}
.nav-toggle {
	display: flex;
	align-items: center;
	padding: 1em;
	cursor: pointer;
	color: white;
}
.nav-toggle i {
	margin-right: .5em;
}

/*** Nav Toggle ***/

.nav-toggle-list {
	background: #C3C1C3;
	margin-top: 2.5rem;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 97;
	opacity: 1;
	transition: opacity 0.5s linear;
}
.hidden {
	visibility: hidden;
	opacity: 0;
}

/*** General Typography ***/

h1,
h2,
h3,
h4 {
  margin-bottom: .5rem;
}
p {
  margin-bottom: 1rem;
  font-size: 1rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.25rem;
	position: relative;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
.section-heading {
	color: #666;
}

/*** Links ***/

a {
  text-decoration: none;
  color: white;
	display: block;
}
.nav-items a {
	padding: 1em;
	width: 100%;
}
.sticky-header a {
	padding: .25em .75em;
	display: inline-block;
}
.social a {
	padding: 1em;
}
.social a:hover {
	opacity: .5;
}
.main-footer a {
	padding: .25em 1em 0;
}
.main-footer li:last-child a {
	padding-right: 0;
}

/*** Skills ***/

.skills-icons i {
	font-size: 3rem;
	margin-right: .5rem;
	width: 3rem;
}
.skills-icons li {
	display: inline-block;
	width: 45%;
	margin-right: 5%;
	margin-bottom: 1rem;
}
.skills-icons li:nth-of-type(5) {
	margin-bottom: 0;
}

/*** Projects ***/

.projects img {
	max-width: 100%;
	border-radius: 10px;
	margin-bottom: 1rem;
}
.projects h2 {
	padding-left: 1rem;
	padding-top: 1rem;
}
.projects > div {
	border-radius: 10px;
	margin-bottom: 1rem;
	max-width: 100%;
}
.projects div:nth-of-type(even) {
	background: #D9DDD7;
}
.projects > div:nth-of-type(n + 3) {
	border: 1px solid rgba(217, 221, 215, .5);
}
.description {
	padding: 0 1em 1em;
}
.project-description {
	padding: 0 1em 0;
}

/*** Media Queries ***/

@media (max-width: 374px) {
	.skills-icons li {
		display: block;
		width: 100%;
	}
}
@media (min-width: 600px) {
	.projects img {
		float: left;
		max-width: 50%;
		margin-bottom: 0;
		margin-right: 2%;
	}
	.description {
		padding: 1em;
		float: left;
		width: 48%;
	}
}
@media (min-width: 760px) {
	.content {
		width: 75%;
	}
	.container {
		max-width: 90%;
	}
	header {
		visibility: visible;
	}
	.nav-toggle {
		visibility: hidden;
	}
	.main-footer {
		visibility: hidden;
	}
}
@media (min-width: 940px) {
	.container {
		max-width: 75%;
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: 45em;
	}
	html {
		font-size: 1.25rem;
	}
}
